<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Create. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Create_Store::create_store_index" title="Stores Created" module="Create_Store"  sortOrder="20" dependsOnModule="Create_Store" action="store/store/index" resource="Create_Store::create_store_index"/>
<!--AddMenu-->
    </menu>
</config>
