
.sectionHead{
    text-align:center;
    margin-bottom:75px;
    .headText{
        &:after{
            content:"";
            width: 46px;
            height: 2px;
            background: #DADADA;
            margin-top:30px;
            margin-bottom:20px;
            display:block;
        }
    &.center{
        &:after{
            margin-left:auto;
            margin-right:auto;
        }
    }
    }

    h2{
        font-family:$roboto;
        line-height: 109%;
        font-weight:900;
        letter-spacing: -0.03em;
        margin-bottom:20px;
    }

    ul{
        font-weight:bold;
        color: #484848;
        font-size:1.313em;
        margin-bottom:0;
        li{
            display: flex;
            align-items: center;
        &:not(:first-child){
            &:before{
                content:"";
                display:inline-block;
                height: 4px;
                width:4px;
                border-radius:10px;
                margin:0 15px;
                background:#484848;
            }
        }
        }

    }
    
    p{
        font-size:1.313em;
        line-height: 132%;
        color: #484848;
        max-width:650px;
        margin:0 auto;
    }
}

.topHeader{
    background:$primaryColor;
    color:#fff;
    padding:15px 0;
    position: relative;
    z-index: 1;
    .leftWrap{
        letter-spacing: 0.05em;
        line-height: 18px;

        @include min-768{
            font-size:0.938em;
        }

        p{
            font-weight:bold;
        }

        span{
            opacity:0.7;
            margin-left:15px;
            font-weight:normal;
        }
    }

    .rightWrap {
        a{
            font-size:1.125em;
            @include min-768{
                margin-right:45px;
            }
        }

        .dropdown{
            .dropdown-toggle {
                background-color:transparent;
                border-color:transparent;
                padding:0;
            &:after{
                border:0;
                background:url("../images/down_arrow_light.png") no-repeat;
                width: 10px;
                height: 13px;
                background-size: contain;
                background-position: center;
                margin-left: 40px;
                vertical-align: middle;
                transition: all 300ms;
            }

            &:active,&:focus{
                box-shadow:unset;
            }

            span{
                font-size:1.313em;
            }

            }

        .dropdown-menu {
            right: 0;
            left: unset !important;
            transform: translate3d(0px, 46px, 0px) !important;
        }

        &.show{
            .dropdown-toggle{
            &:after{
                transition: all 300ms;
                transform: rotate(180deg);
            }
            }
        }
        }
    }
}

header{

    .navbar {
        padding:0;

        // .navbar-collapse{
        //     padding:30px 0;
        // }
    }
    
    .dropdown{
        .dropdown-toggle {
            background-color:transparent;
            border-color:transparent;
            padding:0;
        &:after{
            border:0;
            background:url("../images/down_arrow.png") no-repeat;
            width: 10px;
            height: 13px;
            background-size: contain;
            background-position: center;
            margin-left: 5px;
            vertical-align: middle;
            transition: all 300ms;
        }

        &:active,&:focus{
            box-shadow:unset;
        }
 

        }

    // .dropdown-menu {
    //     right: 0;
    //     left: unset !important;
    //     transform: translate3d(0px, 46px, 0px) !important;
    // }

    &.show{
        .dropdown-toggle{
        &:after{
            transition: all 300ms;
            transform: rotate(180deg);
        }
        }
    }
    }

    nav{
       .navbar-nav{
           font-size:1.313em;

        .nav-item{

        @include min-768{
            line-height:25px;
        }

        &.active{
            font-weight:bold;
        }

        .nav-link{
            padding:0;
        }

        &:not(:last-child){
            margin-right:110px;
        }

        &.sale{
            color:$blue;
            font-weight:bold;
        }

        }
       } 

       .iconWrap {
            padding:33px 0;
            padding-left:35px;
            border-left: 1px solid #DADADA;
           &>div{
               position:relative;
               display: flex;
               align-items: center;
            &:not(:last-child){
                margin-right:50px;
            }
            
           }

           .badges{
                height:22px;
                width:22px;
                border-radius:50%;
                background: #C7452A;
                color: #fff;
                position: absolute;
                top:-10px;
                right:0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight:bold;
           }
       }
    }
}

// notificationPanel slidePanel
.notificationWrap rightPanel{
    font-family:$roboto;
    padding:48px;
    width: 671px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    display:none;
    .topHead{
        margin-bottom:30px;
        h6{
            font-size:1.313em;
            line-height: 25px;
            color: #251C17;
        }

        .btn-link{
            font-size:0.938em;
        }


    }

    .allNotification{
        font-size:0.938em;
        overflow:auto;
        height:100%;
        padding-bottom:20px;
        // line-height:18px;
        
        .notifications_box{
            color: #A8A8A8;

            &:not(:last-child){
                margin-bottom:50px;
            }

            &.current{
                color: #251C17;
            .message{
                padding:23px;
                background: #F8F8F8;
                border-radius: 5px;

                strong{
                    color: #C7452A;
                }
            }
        }
        }

        .notifyHead{
            color: #A8A8A8;
            margin-bottom:25px;
            display: inline-block;
        }

        .message{
            margin-bottom:25px;

            p{
                padding-right:50px;
                margin-bottom:0;
                line-height:18px;
            }
        }

        strong{
            color: #251C17;
        }
    }

}

.store-nav{
    .store-logo{
        font-weight:bold;
        img{
            max-width:80px;
            height:auto;
            margin-right:14px;
        }
    }

    .navbar-nav{
        padding:0 15px;
        .nav-item{
        &:not(:last-child){
            margin-right:40px;
        }
        }
    }

}