.manageAccountYourCustomizedDesign {
    h4 {
        margin: 45px 0 8px 0;
    }
    .createNew {
        min-height: 540px;
    }
   .pageTopActions {
       margin: 0 0 25px 0;
   }
   .customizedDesignRow {
       margin-left: -10px;
       margin-right: -10px;
       &>div {
           padding:20px 10px 0;
        }
        &.customizedDesignDelete {
            &>div {
                max-width: 16.6666666667%;
            }
        }
    }
    .customizedDesign {
        background-color: $bgGray2;
        width: 164px;
        height: 152px;
        text-align: center;
        padding: 0 20px;
        position: relative;
        p {
            margin: 0;
            padding: 24px 0;
            font-size: 0.9375em;
            line-height: 1.2em;
            color: $borderLight2;
            font-family: $roboto;
        }
        .customizedDesignBar {
            position: relative;
            height: 6px;
            margin: 0 0 10px 0;
            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: $btnBlue2;
                border-radius: 10px;
            }
        }
        b {
            font-size: 0.9375em;
            line-height: 1.2em;
            color: $primaryColor;
            font-family: $roboto;
            display: block;
        }
        button {
            display: inline-block;
            margin: 15px 0 0 0;
        }
        .customCheckBox {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: $white;
            border-radius: 50%;
            .customCheckBoxCheck {
                background-image: url(../images/unCheckDark.png);
            }
            input:checked +  .customCheckBoxCheck {
                background-image: url(../images/check.png);
            }
        }
        .crossBtn {
            position: absolute;
            top: 10px;
            right: 10px;
            margin: 0;
            padding: 0;
        }
        &.bgImgContain {
            background-color: transparent;
            max-width: 100%;
        }
  }
}