.sidebarNav {
    background-color: $blueDark;
    // padding: 50px 0 24px;
    padding: 30px 0 24px;
    color: $white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .sidebarNavTop {
        padding: 0 0 20px;
        margin: 0 24px;
        border-bottom: 1px solid $borderDark2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        h5 {
            margin: 0;
            font-size: 0.9375em;
            font-weight: 400;
        }
        button {
            padding: 0;
            margin: 0;
            border: 0;
            outline: 0;
            background: none;
            cursor: pointer;
            &:focus {
                outline: none;
            }
            &.sidebarNavClose {
                display: inline-block;
            }
            &.sidebarNavOpen {
                display: none;
            }
        }
    }
    .sidebarNavSearch {
        padding: 24px;
        .sidebarNavSearchIcon {
            display: none;
        }
        .sidebarNavSearchInner {
            position: relative;
            padding-bottom: 5px;
            input {
                background: transparent;
                border: 1px solid $borderDark3;
                border-radius: 10px;
                padding: 11px 11px 11px 54px;
                color: $white;
                font-size: 0.9375em;
                line-height: 170.19%;
                height: inherit;
                font-family: $roboto;
                &::-webkit-input-placeholder {
                    color: $white;
                }
                &:-ms-input-placeholder {
                    color: $white;
                }
                &::placeholder {
                    color: $white; 
                }
            }
            svg {
                position: absolute;
                left: 24px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .sidebarNavSearchClear {
                position: absolute;
                top: 25px;
                right: 15px;
                background: none;
                padding: 0;
                border: 0;
                outline: 0;
                cursor: pointer;
                height: 20px;
                width: 20px;
                svg {
                    position: static;
                    display: block;
                }
            }
        }
    }
    .sidebarNavLinks {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        ul {
            padding: 0;
            margin: 0;
            li {
                padding: 0;
                margin: 0;
                list-style: none;
                a {
                    display: block;
                    text-decoration: none;
                    color: $white;
                    font-family: $roboto;
                    line-height: 170.19%;
                    position: relative;
                    &.sidebarNavLinksChild {
                        background-image: url(../images/arrowRightWhite.png);
                        background-repeat: no-repeat;
                        background-position-y: center;
                        background-position-x: -webkit-calc(100% - 45px);
                        background-position-x: calc(100% - 45px);
                        &.active {
                            background-image: url(../images/arrowUpWhite.png);
                        }
                    }
                    span {
                        position: relative;
                        .bachCount {
                            font-size:  0.8125em;
                            line-height: 170.19%;
                            background-color: $btnBlue;
                            border-radius: 20px;
                            padding: 0 10px;
                            position: absolute;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                            left: 100%;
                            margin-left: 10px;
                        }
                    }
                }
                ul {
                    li {
                        a {
                            font-size: 0.8125em;
                        }
                    }
                }
            }
        }
        &>ul {
            &>li {
                &>a {
                    font-size: 0.9375em;
                    padding: 11px 24px;
                    position: relative;
                    &:after {
                        content: "";
                        width: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                    }
                    svg {
                        margin-right: 14px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    &.active {
                        background-color: $borderDark2;
                        font-weight: bold;
                        &:after {
                            width: 5px;
                            background-color: $btnBlue;
                        }
                    }
                }
                &>ul {
                    max-height: 0;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    overflow: hidden;
                    &>li {
                        padding: 10px 0 10px 75px;
                        &>ul {
                            max-height: 0;
                            -webkit-transition: all 0.3s;
                            transition: all 0.3s;
                            overflow: hidden;
                            &>li {
                                padding: 10px 0 10px 10px;
                            }
                        }
                        &.active {
                            &>.sidebarNavLinksChild {
                                background-image: url(../images/arrowUpWhite.png);
                            }
                            &>ul {
                                padding-bottom: 10px;
                                max-height: 400px;
                                overflow: auto;
                            }
                        }
                    }
                }
                &.active {
                    &>.sidebarNavLinksChild {
                        background-image: url(../images/arrowUpWhite.png);
                    }
                    &>ul {
                        padding-bottom: 10px;
                        max-height: 400px;
                        overflow: auto;
                    }
                }
            }
        }
    }
    .sidebarNavBottom {
        padding: 16px 24px 0;
        margin-top: 24px;
        border-top: 1px solid rgba($white, 0.1);
        p {
            font-size: 0.6875em;
            line-height: 1.2em;
            margin: 0;
            b {
                opacity: 0.3;
            }
            a {
                text-decoration: underline;
            }
        }
        h5 {
            font-size: 0.6875em;
            line-height: 1.2em;
            margin: 2px 0 0 0;
            img {
                display: inline-block;
                vertical-align: middle;
                margin: -2px 5px 0 0;
            }
        }
    }
}
.sidebarNavSearchList {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    max-height: 500px;
    overflow: auto;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $borderLight6;
    z-index: 1;
    color: $arrow;
    p {
        font-size: 0.8125em;
        margin: 0;
        line-height: 100%;
        span {
            color: $primaryColor;
        }
        & + p {
            margin-top: 5px;
        }
    }
    .sidebarNavSearchListEmpty {
        padding: 24px 24px 24px 55px;
        position: relative;
        svg {
            position: absolute;
            left: 0 !important;
            margin: 0 !important;
        }
    }
    .sidebarNavSearchItems {
        padding: 10px 0;
        .sidebarNavSearchItem {
            padding: 14px 24px;
            margin-bottom: 14px;
            border-bottom: 1px solid $borderLight;
            h5 {
                margin-bottom: 5px;
                font-size:  0.8125em;
                color: $primaryColor;
            }
            p {
                font-size: 0.6875em;
            }
        }
    }
}
.mainContainerNavClose {
    .sidebarNav {
        text-align: center;
        .sidebarNavTop {
            h5 {
                display: none;
            }
            button {
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                &.sidebarNavClose {
                    display: none;
                }
                &.sidebarNavOpen {
                    display: inline-block;
                }
            }
        }
        .sidebarNavSearch {
            .sidebarNavSearchIcon {
                display: block;
            }
            .sidebarNavSearchInner {
                display: none;
            }
        }
        .sidebarNavLinks {
            &>ul {
                &>li {
                    &>a {
                        background-image: none;
                        svg {
                            margin-right: 0;
                        }
                        span {
                            display: none;
                        }
                    }
                    &>ul {
                        display: none;
                    }
                }
            }
        }
        .sidebarNavBottom {
            display: none;
        }
    }
}
