
$white : #ffffff;
$black: #000000;
$blue : #1AAAAD;
$textBlue : #3FDADD;
$darkOrange : #C7452A;

$bgGray : #F2F3F2;
$bgGray2 : #F8F8F8;
$bgGray3 : #F2F4F7;
$bgGray4 : #C7C3C3;
$bgGray5 : #C4C4C4;
$bgGray6 : #D1D1D1;
$bgGray7 : #F9FAFA;
$bgGray8 : #F4F4F4;
$bgDark : #1E2832;
$borderLight : #DBDBDB;
$borderLight2 : #727272;
$borderLight3 : #F0F0F0;
$borderLight4 : #E7E5FF;
$borderLight5 : #F3F3F3;
$borderLight6 : #EFEFEF;
$borderLight7 : #DADADA;
$borderDark : #D3D3D3;
$borderDark2 : #022E49;
$borderDark3 :  #0A3956;
$textGray : #323659;
$textGray2 : #555555;
$textGray3 : #C0C0C0;
$arrow : #A8A8A8;
$yellow : #FFC62E;
$yellow2 : #FFE49F;
$yellowLight : #FFF7E1;
$yellowLight2 : #FBF6DC;
$btnBlue : #00BFF3;
$btnBlue2 : #2AADE5;
$btnBlue3 : #D2FCFD;
$activeRow : #F0E7E0;
$blueLight : #C9F6F6;
$blueLight2 : #CAF4FF;
$blueDark : #00263E;
$orangeLight : #FFE2DC;

$red : #FF5147;
$red2 : #FC4D3B;
$red3 : #FF7255;

$green :#7BC46F;

$primaryColor : #151515;
$secondaryColor : #484848;

// font-size
$fontSize: 16px;
$primaryFont: 'Barlow', sans-serif;
$roboto:'Roboto', sans-serif;

 