.child-container-fluid{
    .container{
        @include min-1600{
            max-width: 1890px;
        }
    }
}

.viewStore {
    min-height: 100%;
    padding-bottom: 100px;

    section{
    &:not(:last-child){
        margin-bottom: 120px;
    }
    }
    
    p{
        color: #727272;
        line-height: 150%;
    }

    .viewStoreBanner{
        &> div{
            position:relative
        }
        .banner-nav{
            position:absolute;
            top:50%;
            width:100%;
            transform:translateY(-50%);
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding:0 35px;
        }

        .viewStoreBannerInner{
            padding:0 25px;
            img{
                width:100%;
                // width: calc(100% - 50px);
            }
        }

        .slick-list{
            padding:0 50px;

            .slick-track{
                .slick-slide{
                &:first-child{
                    .viewStoreBannerInner{
                        padding-left:0px;
                    }
                }
                }
            }
        }
    }

    .about{
        .content{
            padding:20px 0;
            max-width:494px;
            font-size:1.3125rem;
            margin-left:auto;
            margin-right:80px;
        }
        .rightImg{
        &:before{
            content:"";
            position: absolute;
            top:-40px;
            left:-25px;
            z-index: -1;
            width: 718px;
            height: 554px;
            background: #E9FAFF;
            mix-blend-mode: normal;
        }
        img{
            z-index:1;
        }
        }
    }

    

    .shop-category{
        .imagesGridItem{
            padding:0 25px;

            img{
                max-height:485px;
            }
        }
        
        h4{
            span{
                font-size:4.5rem;
            }
            b{
                font-size:6.375rem;
            }
        }
        button{
            display:inline-block !important;
            margin-top:30px !important;
        }

        .slider-content{
            padding-right:80px;
        }
    }

    .shop-trend{
        .productItem{
            padding:0 25px;

            img{
                height:423px;
                object-fit:cover;
                object-position: top;
            }
        }
        .slider-content{
            text-align:right;
            padding-left:80px;

            h3{
                margin-left:auto;
            }
        }
    }
}


.slider-content{
    & > *{
        margin-top:24px;
    }
    h3{
        max-width:260px;
        font-weight:900;
        line-height: 88%;
        /* or 63px */
        letter-spacing: -0.03em;
    }
}

.viewStoreBanner {
    .viewStoreBannerInner {
        // background: linear-gradient(270.53deg, #C4C4C4 0.48%, rgba($white, 0) 91.12%);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        .viewStoreBannerText {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 126px;
            h4 {
                font-size: 3em;
                line-height: 1.1666666666666667em;
                margin: 0;
                font-weight: bold;
                color: $primaryColor;
                font-family: $roboto;
            }
            .viewStoreBannerAmount {
                position: relative;
                color: $blue;
                margin-top: -20px;
                margin-bottom: -20px;
                span {
                    font-family: $roboto;
                    line-height: 1em;
                    font-weight: 900;
                    &.viewStoreBannerAmountVal {
                        font-size: 12.8125em;
                    }
                    &.viewStoreBannerAmountPar {
                        font-size: 7.6875em;
                        margin-top: 8px;
                        margin-bottom: -5px;
                    }
                    &.viewStoreBannerAmountOff {
                        font-size: 3.5625em;
                    }
                }

            }
            h3 {
                font-size: 2.9375em;
                line-height: 1.1702127659574468em;
                margin: 0 0 24px;
                font-weight: bold;
                color: $primaryColor;
                font-family: $roboto;
            }
        }
    }
    img {
        max-width: 100%;
    }
}