.about{
    .inner-container{
        &>.row{
            margin-bottom:45px;
            
            @include min-992{
                margin-bottom:72px;
            }
        &:first-child{
            margin:50px 0;
            
            @include min-992{
                margin-top:100px;
                margin-bottom:120px;
            }
        }

        &> div{
            img{
                height:100%;
                object-fit:cover;
                object-position: center;
                margin-bottom:48px;
                max-height:300px;
                overflow: hidden;
                border-radius:10px;
                width:100%;
                // @include min-768{
                //     margin:0;
                //     overflow:unset;
                //     width:unset;
                // }

                @include min-992{
                    max-height:unset;
                    margin:0;
                    overflow:unset;
                    border-radius: 0;
                    width:unset;
                }
            }
        }
        }

        .topContent{
            h3{
                font-weight:normal;
                @include max-575{
                    font-size:1.75rem;
                }
            }
        }
        
        .about-content{
            display:flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            @include min-992{
                padding-left:60px;
            }
            h2{
                line-height:100%;
                margin-bottom:24px;

                span{
                    @include max-991{
                        display:inline-block !important;
                    }
                }
            }
            p{
                font-size: 18px;
                line-height: 139%;
                /* or 25px */
            }
        }
    }
}

.explore{
    padding-bottom:120px;
    .head-wrap{
        position:relative;
        margin-bottom:35px;
        @include min-768{
            margin-bottom:75px;
        }
        h3{
            background:#fff;
            padding-right:20px;

            span{
                color:#FFC62E;
            }
        &:after{
            content:"";
            position:absolute;
            left:0;
            top:20px;
            width:100%;
            height:1px;
            background:#C4C4C4;
            z-index:-1;
        }
        }
    }

    .explore-wrap{
        @include max-767{
            margin-bottom:15px;
        }
    }

    img{
        display:block;
        margin-bottom:24px;

        @include max-767{
            border-radius:10px;
            overflow:hidden;
        }
    }

    .content-wrap{
        font-family:$roboto;

        span{
            font-weight: 900;
            font-size: 1.3125rem;
            line-height: 25px;
            @include min-768{
                margin-bottom:14px;
            }
        }

        .btn{
            font-size: 0.9375rem;
            line-height: 18px;
            /* identical to box height */
            padding:0;
            text-align:left;
            color: #727272;

            svg{
                margin-left:12px;
            }
        }
    }
}