.listingPageBanner {
    background-color: $blue;
    text-align: center;
    color: $white;
    margin-bottom: 24px;
    padding: 48px 0;
    @include min-992 {
        padding: 130px 0 120px;
    }

    .bannerContent{
        max-width:930px;
        margin:0 auto;
    }
    h1 {
        margin-bottom: 24px;
        font-size: 4.5rem;
        line-height: 100%;
    }
    h4, h6 {
        font-weight: 400;
        line-height: 2.125rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h6 {
        font-size: 1.125rem;
    }
}
.filteredProductActionMobile {
    padding-bottom: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    button {
        padding: 0;
        margin: 0;
        background: none;
        border: 0;
        outline: 0;
        font-size: 1.5625rem;
        line-height: 100%;
        font-weight: 700;
    }
}
.productContentWishListBottom {
    display: none;
    margin: 15px 0 0 0;
}
.productListing {
    padding-top: 35px;
    @include min-768 {
        padding-top: 70px;
    }
    .container{
        @include min-992{
            padding:0 60px;
        }
        @include min-1200{
            padding:0 90px;
        }
        @include min-1400{
            padding:0 125px;
        }
    }

    .productWrap {
        @include max-767 {
            margin-top: 0;
        }
    }

    
    .dropdown{
        button{
            color: inherit !important;
            background-color: transparent !important;
            border-color: transparent !important;
            font-size:inherit;
            outline:0;
        &.dropdown-toggle{
        &:after{
            margin-left:20px;
            border:0;
            background:url("../images/down_arrow.png") no-repeat;
            background-size:contain;
            width:16px;
            height:8px;
            transition: all 400ms;
        }
        &:focus,&:active,&:hover{
            color:$primaryColor;
            box-shadow: unset !important;
        }
        }
        }
    &.show{
        .dropdown-toggle{
            &:after{
                transform: rotate(180deg);
                transition: all 400ms;
            }
            }
    }

    .dropdown-menu {
        font-size:1.125em;
        background: #FFFFFF;
        border: 1px solid #DBDBDB;
        box-sizing: border-box;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        width:246px;
        
        a{
            color:$primaryColor;
            font-weight:normal;
        &:hover{
            color:$blue;
        }
        &.active{
            font-weight:bold;
            background:transparent;
            pointer-events: none;;
        }
        }
    }

    }
}

.filterWrap{
    @include max-767 {
        margin-bottom: 24px;
    }
    .topHead{
        border-bottom: 1px solid #DBDBDB;
        padding-bottom:45px;
        @include min-768 {
            padding-left:15px;
        }
        h6{
            font-weight: bold;
            line-height: 25px;
        }
    }

    .filter_box{
        border-bottom: 1px solid #DBDBDB;
        padding-top:34px;
        padding-bottom:30px;
        @include min-992 {
            padding-left:40px;
        }
        .filterHead{
            cursor:pointer;
            h6{
                font-weight: bold;
                line-height: 25px;
            }

            svg{
                transition:all 400ms;
            }
        }

        .wrap{
            max-height:0;
            overflow:hidden;
            transition:all 500ms;
            .search{
                margin-bottom:25px;
                margin-left: -10px;
                input{
                    border: 1px solid rgba(168,168,168,.48);
                    padding:14px 10px;
                    padding-left:67px;
                    border-radius: 30px;
                    font-size:1.313em;
                    width:100%;
                &::placeholder{
                    color: #A8A8A8;
                    font-size:inherit;
                }
                }

                .icon{
                    position:absolute;
                    top:50%;
                    left:20px;
                    transform: translateY(-50%);
                }
            }

        }

    &.filterOpen{
        .filterHead{
            svg{
                transform:rotate(180deg);
                transition:all 400ms;
            }
        }
        .wrap {
            -webkit-transition:all 500ms;
            transition:all 500ms;
            padding-top:34px;
            padding-left:10px;
            max-height:500px;
            .form-group {
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            .checkUnCheck {
                padding-left: 35px;
            }
        }
    }
    }
}
.productContent {

    svg {
        path{
            fill:#FF7255 ;
        }
    }
   } 
.filteredProduct{
    .topWrap{
        font-size:1.313em;
        margin-bottom:10px;
        a {
            // color:$blue;
            color: $blackLight;
            font-weight:bold;
        }
        .btnWrap{
        > div{
            &:not(:last-child){
                margin-right:20px;
            }

            svg{
                cursor: pointer;
            }
        
            &.selected{
            svg{ 
                path {
                    fill:$blue;
                    
                }
                
            }
            }
        }
        }

    }

    .tagsWrap{
        span{
            display: inline-flex;
            align-items: center;
            font-size:0.938em;
            padding:5px 16px;
            border: 1px solid rgba(168, 168, 168, 0.48);
            border-radius: 28px;
            &:not(:last-child){
                margin-right:15px;
            }

            svg{
                margin-left:15px;
                cursor:pointer;
            }
        }
    }

    .product{
        margin-bottom:24px;
    }

    .similarProduct{
    &.list_view{
        .col-sm-6.col-lg-4{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .col-sm-6.col-md-4{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .product{
            display:flex;
            align-items: flex-start;
            max-width: unset;
        }

        .productImgSlider{
            flex:0 0 100%;
            width: 100%;
        }
        
        .productTop{
            flex:0 0 200px;
            width: 200px;
        }

        .productContent{
            flex-grow:1;
            display:flex;
            align-items: flex-start;
            justify-content: space-between;
            padding:0;
            padding-left:30px;
            flex-direction:column;
            
            @include min-992{
                padding-left:60px;
            }

            @include min-1200{
                flex-direction:row;
            }

            .prodInfo{
                max-width:335px;
                @include max-991{
                    display:none;
                }
                .topWrap  {
                    .productContentWishList {
                        display: none;
                    }
                }
                .productContentWishListBottom {
                    display: block;
                }
            }
        }

        .price {
            width:225px;
            .addCart {
                display:-webkit-box;display:-ms-flexbox;display:flex;
                svg {
                    width: 28px;
                    height: 25px;
                    path {
                        fill: $white;
                    }
                }
            }

        }
    }
    }

}

.pagination{
    .currentPage{
        font-size:1.125em;
        @include max-767 {
            display: none;
        }
    }

    ul{
        font-size:0.938em;
        font-weight: bold;

        li{
            width: 25px;
            height: 25px;
            border-radius: 3px;
            display:inline-flex;
            align-items: center;
            justify-content:center;
        &.active{
            // background: $blue;
            background: $border;
            color: $white;
        }

        &:not(:last-child){
            margin-right:15px;
        }

        }

    }

    .showPages{
        font-size:0.938em;
        @include max-767 {
            display: none !important;
        }
    }
}

.discountBar{
    background:$darkOrange;
    padding: 36px 0; 
    margin-top:50px;
    @include min-768 {
        margin-top:100px;
        padding: 60px 0; 
    }
}

// quantityDropdown
.quantityDropdown{
    .nav-tabs{
        border:0;

        .nav-item{
        &:not(:last-child){
            margin-right:24px;
        }
        }

        a{
            font-size:1.125em;
            font-weight:bold;
            color:#A8A8A8;
            padding:0;
            &:hover,&:focus{
            border:0;
        }
        &.active{
            border:0;
            color:$primaryColor;
        &:after{
            content:"";
            width:112px;
            height:4px;
            background:$blue;
            margin-top:10px;
            display:block;
        }
        }
        }
    }

    .tab-content{
        table{
            margin-top:15px;

            th{
                font-size:0.938em;
                font-weight:bold;
            }

            td{
                vertical-align: middle;
                .customCheck{
                    margin-top:0;


                    .form-group{
                        margin-bottom:0;
                        input:checked + label:after{
                            height:20px;
                            width:20px;
                            border-radius:50%;
                            top:4px;
                        }
                    }

                    label{
                        font-weight:bold;
                    &:before{
                        height:20px;
                        width:20px;
                        border-radius:50%;
                    }
                    }

                }

                input[type="text"]{
                    width: 56px;
                    height: 38px;
                    text-align: center;
                    border: 1px solid #A8A8A8;
                    border-radius: 5px;

                }
            }
        }
    }
}