// .dashboard {}
.dashboardItem {
    background-color: $white;
    border-radius: 10px;
    // height: 100%;
    .dashboardItemTop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-bottom: 1px solid $borderLight;
        padding: 15px;
        position: relative;
        @include min-1200 {
            padding: 20px;
        }
        h3 {
            font-size: 1.3125em;
            font-family: $primaryFont;
            font-weight: bold;
            line-height: 170.19%;
            margin: 0;
        }
        h2 {
            font-size: 1.75em;
            line-height: 1.25em;
            color: $btnBlue;
        }
        p {
            color: $borderLight2;
            margin: 0;
            line-height: 150%;
            font-size:  0.9375em;
        }
        .dashboardItemTopBtn {
            position: absolute;
            padding: 0;
            margin: 0;
            background: none;
            border: 0;
            outline: 0;
            cursor: pointer;
            top: 24px;
            right: 24px;
            &.active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
        .dashboardItemTopLeft {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .divider {
                max-width: 210px;
                padding-right: 20px;
                position: relative;
                &:after {
                    content: "";
                    width: 1px;
                    background-color: $borderLight;
                    right: 0;
                    position: absolute;
                    top: -20px;
                    bottom: 0;
                }
            }
        }
        .dashboardItemTopRight {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            &>div {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
    .dashboardItemContent {
    }
    .tableCustomDiv  {
        padding: 0 20px 20px;
        background-color: transparent;
    }
}

.dashboardItemProgress {
    padding: 15px 20px 20px 20px;
    .dashboardItemProgressItem {
        padding: 20px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .dashboardItemProgressItemLeft {
            width: 75px;
            font-size: 0.9375em;
            color: $primaryColor;
        }
        .dashboardItemProgressItemMiddle {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            padding: 0 20px 0 10px;
        }
        .dashboardItemProgressItemRight {
            width: 60px;
            font-size: 0.9375em;
            color: $primaryColor;
        }
    }
}
.dashboardItemProgressTags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // border-top: 1px solid $borderLight;
    padding: 20px;
    .dashboardItemProgressTag {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .circleSm {
            margin-right: 10px;
        }
        b {
            font-size: 0.9375em;
            line-height: 1.2em;
        }
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}


.dashboardBottom {
}

// .dashboardStoreOpt {
//     .dashboardStoreOptItem {
//         padding: 22px;
//         border-radius: 10px;
//         color: $white;
//         margin: 15px 0 0 0;
//         .circleSm {
//             background-color: $white;
//             display: inline-block;
//             margin-right: 5px;
//         }
//         h4 {
//             margin: 0 0 16px;
//             font-weight: bold;
//             font-size: 1.5em;
//             line-height: 0.9166666666666666em;
//             font-family: $primaryFont;
//             font-weight: bold;
//         }
//         h3 {
//             font-family: $primaryFont;
//             font-weight: bold;
//             font-size: 1.75em;
//             line-height: 1.2142857142857142em;
//             margin: 0 0 20px 0;
//         }
//     }
// }

.dashboardStoreActivity {
    padding: 0 20px 20px;
    .dashboardStoreActivityItem {
        padding: 12px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .dashboardStoreActivityText {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            position: relative;
            color: $borderLight2;
            font-size:  0.9375em;
            line-height: 1.2em;
            padding: 0 0 0 40px;
            &::first-letter{
                text-transform: capitalize;
            }
            &:before {
                content: "";
                width: 26px;
                height: 1px;
                background-color: $borderLight2;
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            b {
                color: $primaryColor;
            }
        }
    }
}

.dashboardItemGroupY {
    .dashboardItem {
        // height: -webkit-calc(50% - 25px / 2);
        // height: calc(50% - 25px / 2);
    }
}

.filterTags {
    width: 100%;
    span {
        display: inline-block;
        font-size: 0.8125em;
        line-height: 1.1em;
        padding: 2px 28px 2px 10px;
        border-radius: 50px;
        background-color: $borderLight5;
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        button {
            padding: 0;
            margin: 0;
            border: 0;
            outline: 0;
            cursor: pointer;
            background: none;
            position: absolute;
            right: 10px;
            &:hover {
                svg {
                    path {
                        fill: $black;
                    }
                }
            }
        }
        &:not(:last-child) {
            margin-right: 13px;
        }
        .filterTagsMore {
            padding-right: 10px;
            button {
                position: static;
            }
        }
    }
}
.dashboardItemSearch {
    position: relative;
    padding-left: 40px;
    position: relative;
    align-self: flex-start;
    &:after {
        content: "";
        width: 1px;
        background-color: $borderLight;
        left: 20px;
        position: absolute;
        top: -20px;
        bottom: 0;
    }
    .dashboardItemSearchInner {
        position: relative;
        .dashboardItemSearchIcon {
            padding: 0;
            margin: 0;
            border: 0;
            outline: 0;
            background: none;
            cursor: pointer;
            position: absolute;
            top: 1px;
            left: 0;
            display: none;
        }
        input {
            padding: 0 0 10px 0;
            border: 0;
            width: 100%;
            font-size: 0.875em;
            width: 50px;
            &:focus {
                padding: 0 0 10px 25px;
                border-bottom: 1px solid $borderLight;
                width: 170px;
                & + .dashboardItemSearchIcon {
                    display: block;
                } 
            }
        }
    }
}

.storeAlert {
    padding: 0 24px 24px;
    max-height: 325px;
    overflow: auto;
    h4 {
        line-height: 150%;
        font-size: 1.125em;
        font-weight: 700;
        color: $black;
    }
    .storeAlertItem {
        padding: 14px 0;
        border-bottom: 1px solid $borderLight;
        p {
            margin: 0;
            font-size: 0.9375em;
            line-height: 150%;
            color: $black;
        }
    }
}