.notify{
    border-radius: 10px;
    width: 382px;
    position:fixed;
    top:30px;
    right:30px;
    z-index:99;
    padding:16px 78px 16px 25px;
    cursor:default;

    h6{
        color:inherit;
        font-size:1.125rem;
        line-height: 89%;
        margin-bottom:10px;
    }

    p{
        color:inherit;
        font-size: 0.875rem;
        line-height: 125.5%;
        margin-bottom:0;
    }

&.error{
    background: #FF7255;
    color: #921900;
}

&.warning{
    background: #FFC62E;
    color:rgba(0,0,0,0.6);
}

&.info{
    background: #00BFF3;
    color: #005972;
}

&.success{
    color: #005355;
    background: #1AAAAD;
}

.close{
    position:absolute;
    top:15px;
    right:15px;
}


}