
// inutField
.form-group{
    input{
        background: #FFFFFF;
        border: 1px solid #F3F3F3;
        border-radius: 5px;
        padding:11px 24px;
        font-size:0.938em;
        outline:0;
    &:focus,&:hover,&:active{
        outline:0;
        box-shadow: unset;
        border-color:#F3F3F3;
    }
    &::placeholder{
        color:#A8A8A8;
        font-size:inherit;
    }
    }
}

// remove number caret
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// Dropdown
.dropdown{
	&.select{
		font-size:0.938em;
		.dropdown-toggle{
			width:100%;
			background: transparent;
			color:$secondaryColor;
			border: 1px solid #F3F3F3;
			box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.05);
			border-radius: 10px;
			text-align: left;
			text-align: left;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 12px 24px;
	
			&:after{
				border: 0;
				background: url("../images/down_arrow.png") no-repeat;
				width: 15px;
				height: 13px;
				background-size: contain;
				background-position: center;
				margin-left: 40px;
				vertical-align: middle;
				transition: all 300ms;
			}
	
			&:active,&:focus,&:hover{
				box-shadow:unset !important;
				background:transparent !important;
				color:$secondaryColor;
				border: 1px solid #F3F3F3;
	
			}
		}
	}
	
	&.show{
		.dropdown-toggle{
		&:after{
			transition: all 300ms;
			transform: rotate(180deg);
		}
		}
	}
	
	.dropdown-menu{
		width:100%;
	
		a{
			padding:15px 0;
			&:not(:last-child){
				margin:0;
			}
	
			&:hover{
				color:$secondaryColor;
				font-weight:bold;
			}
	
			margin-bottom:0;
			.toggleBtn{
				.switchToggle{
					width: 45px;
					height: 24px;
					background: #EBEBEB;
					&:after{
						width: 22px;
						height: 22px;
					}
				}
			}
		}
	}
	}

// ListingCheckbox
.customCheck{

	.form-check {
	  display: block;
	  margin-bottom: 20px;
	  padding:0;
	}
	
	.form-check input {
	  padding: 0;
	  height: initial;
	  width: initial;
	  margin-bottom: 0;
	  display: none;
	  cursor: pointer;
	}
	
	.form-check label {
	  position: relative;
	  cursor: pointer;
	  font-size:1.125em;
	  display: flex;
	}
	
	.form-check label:before {
	  content:'';
	  -webkit-appearance: none;
	  background-color: transparent;
	  border: 2px solid #0079bf;
	  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	  // padding: 10px;
	  height:25px;
	  width:25px;
	  display: inline-block;
	  position: relative;
	  vertical-align: middle;
	  cursor: pointer;
	  margin-right: 10px;
	  border-radius: 5px;
	}
	
	.form-check input:checked + label:after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  background: $success;
	  height:25px;
	  width:25px;
	  border-radius: 5px;
	}
	}
	
	//RoundCheck
	.customCheck.roundCheck{
		// font-size:1.125em;
		// margin-top:24px;
	
		label{
			span{
				color:$success;
			}
		}
	
		.form-check label:before{
			border-radius:50%;
			background: #dddddd;
			border:0;
 		}
	
		.form-check input:checked + .label_box label:before{
			background:$success;
		}
	
		.form-check input:checked + .label_box label:after{
			content: "";
			display: block;
			position: absolute;
			top: 5px;
			left: 9px;
			width: 7px;
			height: 13px;		
			border: solid #fff;
			border-width: 0 3px 3px 0;
			transform: rotate(45deg);
			background: transparent;
		}
	}


.storeInfo{
    max-width:630px;

    h1{
        max-width:535px;
        line-height: 43px;
        margin-bottom:38px;
    }

    .box_wrap{
		margin-bottom:45px;

		.toggleSwitch{
			span{
				color:#A8A8A8;
				font-weight:bold;
			}
		}

		.content{
			p{
				color:#727272;
			}
		}

		.progressBar{
			margin-top:25px;
			.rangeWrap{
				font-size:0.938em;
				margin-bottom: 45px;

				li{
					flex:1;
					color:#A8A8A8;
				&:not(:last-child){
					margin-right:40px;
				}
				.active{
					&:after{ 
						background: #FF4663;
					}
				}
				&:after{
					content:"";
					width:6px;
					height:6px;
					background: #000;
					display:block;
					margin:0 auto;
					margin-top:15px;
					border-radius: 50%;;
				}
				}
			}

			.slider-horizontal{
				width:100%;
			}

			.slider-track{
				background:#F3F3F3;
				border-radius: 10px;
			}

			.slider-handle{
				background:#FFC62E;
				width:41px;
				height:41px;
				top:50%;
				transform: translateY(-50%);
			}

			.slider-selection{
				background: #C7452A;
			}
		}

		.dropdown-menu {
			padding:28px 0px;
			border-radius: 10px;
			max-height:300px;
			overflow-y: auto;
			a{
				padding:28px 24px;
				border-bottom: 1px solid rgba(243, 243, 243, 0.4);
			&:hover{
				background:transparent;
			}
			&:first-child{
				padding-top:0;
			}
			}
		&.dropdown_two{
			a{
				padding:15px 24px;
			&:first-child{
				padding-top:0;
			}
			}
		}
		}
	}

	.form-check {
		.label_box{
			padding:0px 35px 0px 24px;
			// max-height:0;
			overflow: hidden;
			transition: all 300ms;
			.info{
				display: none;
			}
		}
	}
	
	
	.form-check input:checked + .label_box{
		padding:24px 35px 25px 24px;
		background: #F3F3F3;
		border-radius: 10px;
		max-height:300px;
		overflow: visible;
		transition: all 300ms;

		.info{
			display: block;
		}

		.dateWrap{
			display:flex;
			align-items:start;
		}

	}
	
	.labelWrap {
		width: calc(100% - 40px);
		// font-size:1.125em;
	
		.info {
			font-size:0.722em;
 			color: #727272;
		}

		.dateWrap{
			font-size:unset;
			span{
				color:$secondaryColor;
				font-size:0.938em;
				margin:10px 0;
				display:inline-block;
			}

			> div{
				margin-right:30px;
				flex:0 0 45%;
				width:45%;
			}
		}

		.inputWrap{
			position: relative;
			input{
				display:block;
				font-size:1.125em;
				padding:11px 14px;
				width:100%;
			}

			svg{
				position:absolute;
				top:50%;
				right:15px;
				transform:translateY(-50%);
			}
		}
	}

    .box_head{
        font-size:1.313em;
        line-height: 25px;
        font-family:$secondaryFont;
        margin-bottom:15px;
    }
}



// SwitchToggleBtn
.tgl {
	display: none;
  
	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 45px;
		height: 24.5px;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 22.5px;
			height: 22.5px;
			top:49%;
			transform: translateY(-49%);
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
		
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}

	&:checked ~ span{
		color:$secondaryColor !important;
		font-weight:bold;
	} 

}

.tgl-ios {
	+ .tgl-btn {
		background: #fbfbfb;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		border: 1px solid #e8eae9;
		margin-bottom:0;
		&:after {
			border-radius: 2em;
			background: #fbfbfb;
			transition:
        left .3s cubic-bezier(
          0.175, 0.885, 0.320, 1.275
        ),
        padding .3s ease, margin .3s ease;
			box-shadow:
        0 0 0 1px rgba(0,0,0,.1),
        0 2px 0 rgba(0,0,0,.08);
		}
    
    &:hover:after {
      will-change: padding;
    }
    
		&:active {
			box-shadow: inset 0 0 0 2em #e8eae9;
			&:after {
				padding-right: .8em;
			}
		}
	}
  
	&:checked + .tgl-btn {
    background: $success;
    &:active {
      box-shadow: none;
      &:after {
        margin-left: -.8em;
      }
    }
	}
}

