.storeCreated {
    .storeCreatedInner {
        padding-left: 40px;
        padding-bottom: 80px;
        h1 {
            margin: 8px 0 28px 0;
        }
        .storeCreatedCode {
            margin: 0 0 55px;
            .divider {
                width: 1px;
                height: 30px;
                background-color: $border;
                margin: 0 15px;
            }
            button {
                margin-top: -4px;
            }
        }
        .socialLinks {
            margin: 30px 0 0 0;
        }
    }
}
.storeCreated2 {
    // margin: 0 auto;
    // max-width: 675px;
    .storeCreatedInner {
        max-width: 615px;
        padding-bottom: 80px;
        // padding: 50px 0 50px 200px;
        // padding: 50px;
        // width: 615px;
        // width: 860px;
        // width: 715px;
        // max-width: 100%;
    }
}