$white : #ffffff;
$black: #000000;
$red: #C7452A;
$yellow: #FFC62E;
$grayLight: #F3F3F3;
$grayText: #727272;
$green:#7BC46F;

$border: #A8A8A8;
$border2: #DBDBDB;
$border3: #121F2D;

$bgDark: #00263E;

$success: #1AAAAD;

$primaryColor : #00BFF3;
$secondaryColor : #151515;

// font-size
$fontSize: 16px;
$primaryFont:'Roboto', sans-serif;
$secondaryFont: 'Barlow', sans-serif;