.manageAccountPayout {
    .form-group {
        label {
            color: $primaryColor;
            margin: 0;
            font-size: 1.125em;
            line-height: 1.2em;
            font-family: $roboto;
        }
        p {
            font-size: 0.9375em;
            line-height: 1.2em;
            margin: 0;
            color: $borderLight2;
            font-family: $roboto;
            span {
                color: $primaryColor;
            }
        }
        &.manageAccountPayoutDic {
            p {
                font-family: $primaryFont;
            }
        }
    }
}