$black: #000000;
$white: #ffffff;

$blackLight: #151515;
$whiteLight: #F9F9F9;

$gray: #727272;
$grayLight: #F3F3F3;
$grayLight2: #F8F8F8;
$grayLight3: #DDDDDD;
$grayLight4: #F2F3F2;
$grayLight5: #C7C7C7;
$border: #A8A8A8;
$border2: #E6E6E6;
$border3: #DBDBDB;

$blue : #00BFF3;
$blueDark : #00263E;
$blueDark2 : #022E49;
$textBlue : #3FDADD;
$textBlue2 : #2BB0E9;
$textBlue3 : #27C3E1;


$orange : #C7452A;
$darkOrange : #FF7255;

$green : #1AAAAD;
$green2 : #7BC46F;

$yellow : #FFD975;
$yellow2 : #FFC21F;

$primaryColor : #00263E;
$secondaryColor : #484848;

// font-size
$fontSize: 16px;
$primaryFont: 'Barlow', sans-serif;
$roboto:'Roboto', sans-serif;

 