
.dropdown{
    &.select{
        font-size:0.938em;
        .dropdown-toggle{
            width:100%;
            background: transparent;
            color:$primaryColor;
            border: 1px solid $primaryColor;
            // box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.05);
            // box-shadow: none;
            border-radius: 10px;
            text-align: left;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 24px;

            &:after{
                border: 0;
                background: url("../images/down_arrow.png") no-repeat;
                width: 15px;
                height: 13px;
                background-size: contain;
                background-position: center;
                margin-left: 40px;
                vertical-align: middle;
                transition: all 300ms;
            }

            &:active,&:focus,&:hover{
                box-shadow:unset !important;
                background:transparent !important;
                color:$primaryColor;
                border: 1px solid #F3F3F3;

            }
        }
    }

    &.show{
        .dropdown-toggle{
        &:after{
            transition: all 300ms;
            transform: rotate(180deg);
        }
        }
    }

    .dropdown-menu{
        width:100%;
        a {
            padding:20px 0;
            font-size: 1.125rem !important;
            &:not(:last-child){
                margin:0;
                border-bottom: 1px solid $border2;
            }

            &:hover{
                color:$primaryColor;
                font-weight:bold;
            }

            margin-bottom:0;
            .toggleBtn{
                .switchToggle{
                    width: 45px;
                    height: 24px;
                    background: #EBEBEB;
                    &:after{
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }
}
 
.checkoutDetail{
    max-width:500px;
    > div{
        margin-top:45px;
    }
    h6{
        font-weight: bold;
        font-size:0.938em;
        line-height: 18px;
        margin-bottom:24px;
    }

    .customCheck {
        label{
            display: flex;
        &:before{
            margin-right: 24px;
        }
        }

        .labelWrap{
            width: calc(100% - 40px);

            .info{
                margin-top:7px;
                color: #727272;
            }
        }
    }

}

.checkoutWrap{
    .head{
       .itemCount{
        font-weight: bold;
        font-size: 0.938em;
        line-height: 18px;
       } 
    }

    .table{
        td{
            padding:10px 0;
            border:0;
        }

        .price{
            font-size: 1.313em;
            font-weight: bold;
        }

        .shortInfo{
            img{
                height:60px;
                width:60px;
            }
        }
    }

    // .summary{
    //     button{
    //         margin-top:40px;
    //         font-size:0.938em;
    //     }
    // }
}

.shippingOption {
    .shippingOptionItem {
        position: relative;
        padding-left: 45px;
        padding-top: 3px;
        &:not(:last-child) {
            padding-bottom: 24px;
        }
        .checkUnCheck {
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
        .shippingOptionItemText {
            label {
                cursor: pointer;
                margin: 0 0 10px;
                font-size: 0.9375rem;
                line-height: 100%;
                color: $blackLight;
                display: inline-block;
                vertical-align: top;
            }
            p {
                font-size: 0.9375rem;
                line-height: 1.2em;
                margin: 0;
                color: $gray;
            }
        }
        .shippingOptionItemLocation {
            margin: 24px 0;
        }
    }
}
.checkOutCheckBox {
    margin-bottom: 35px;
}
.checkOutTable {
    margin-bottom: 24px;
}
.checkOutSummary {
    border-top: 1px solid $border2;
    padding-top: 12px;
    margin-bottom: 50px;
    .list-unstyled {
        margin: 0 0 80px !important;
        li {
            padding: 14px 0;
            &:not(:last-child) {
                border: 0 !important;
            }
        }
    }
}

.shippingOptionItemLocation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .shippingOptionItemLocationIcon {
        width: 35px;
        svg {
            max-width: 100%;
        }
    }
    .shippingOptionItemLocationText {
        width: -webkit-calc(100% - 35px);
        width: calc(100% - 35px);
        max-width: 210px;
        padding-left: 15px;
        font-size: 0.9375rem;
        line-height: 1.2em;
        color: $gray;
    }
}