.breadcrumb{
    background:transparent;
    font-size:1.313em;
    padding:0;
    // margin-top:45px;
    margin-top:24px;
    .breadcrumb-item{
        & +.breadcrumb-item{
            display:flex;
            align-items: center;
        &::before{
            content:"";
            width: 4px;
            height: 4px;
            background:#727272;
            display: inline-block;
            padding:0;
            border-radius:50%;
            margin:0 6px;
        }
        }
    &.active{
        // color: $primaryColor;
        // color: $blackLight;
        font-weight: bold;

    }
    }
}

.catProductWrap{
    // grid-template-columns: 28.8% auto 28.8%;
    // grid-template-columns: auto 656px auto;
    // display:flex;
    // flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom:30px;
    column-count: 1;
    // grid-template-columns: auto auto auto;
    @include min-768{
        column-count: 2;
    }
    @include min-1200{
        column-count: unset;
        display:grid;
        margin-bottom:70px;
        grid-template-columns: 29.1% auto 29.3%;
    }
    @include min-1400{
        margin-bottom:90px;
        grid-template-columns: 29.1% auto 29.3%;
    }
    @include min-1600{
        margin-bottom:145px;
        grid-template-columns: 29.4% auto 29.4%;
    }

    .column-wrap{
        // @include max-1199{
        //     flex:0 0 48%;
        // }
        // @include max-767{
        //     flex:unset;
        // }
    }

    a{
        display:block;
        @include max-1199{
            margin-bottom: 24px;
        }
    &:not(:last-child){
        margin-bottom:24px;

    }
    }

}

.brandProducts {
    padding:0 0 50px 0;
    @include min-992 {
        padding:50px 0;
    }

    .product {
        position:relative;
        overflow: hidden;
        img{
            transition:all 500ms;
        }
    &:hover{
        img{
            transform:scale(1.1);
            transition:all 500ms;
        }
        
        &:before{
            content: "";
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background:rgba(0,0,0,0.3);
            z-index: 1;

        }
    }



    .productHead {
        position: absolute;
        z-index:1;
        left:25px;
        bottom:25px;
        @include min-1400 {
            bottom: 36px;
            left: 36px;
        }
         h2 {
            letter-spacing: -5px;
            font-weight: 200;
            line-height: 80.5%;
            font-family:$primaryFont;
            font-size:2.25rem;
            @include min-992{
                font-size:2rem;
            }
            @include min-1200{
                font-size:3rem;
            }
            span{
                font-weight:800;
                display: block;
                line-height: 80.5%;
                font-size:3.875rem;
                @include min-992{
                    font-size:3rem;
                }
                @include min-1200{
                    font-size:4.5rem;
                }
            }
        }

        .btn{
            margin-top:30px;
        }

        .btnWrap {
            margin-top:30px;
            @include min-992 {
                margin-top:43px;
            }
            a {
                &:not(:last-child){
                    margin-right:16px;
                }
                @include max-991 {
                    padding: 10px 20px;
                }
                svg {
                    @include max-1199 {
                        display: none;
                    }
                }
            }
        }
    }


    }
}

.newProd{
    .newProdTop{
        padding:36px 0;
    }

    .slider-wrap{
        position:relative;
        .slide-nav{
            position:absolute;
            width:100%;
            top:50%;
            transform:translateY(-50%);
            display:flex;
            align-items: center;
            justify-content: space-between;
            @include min-1200{
                margin-left:-25px;
                width:calc(100% + 50px);
            }

            span{
                margin:0;
            }
        }

        .slick-track{
            .slick-slide{
            &:first-child{
                .new_product{
                    // margin-left:0;
                }
            }
            }
        }

        .newProdWrap{
            .new_product{
                margin:0 12px;
                
                img{
                    object-fit: cover;
                    object-position: center;
                    @include min-1200{
                        // max-height:370px;
                        width:100%;
                    }
                    // @include min-1400{
                    //     max-height:465px;
                    // }
                    // @include min-1600{
                    //     max-height:565px;
                    // }

                }
            }
        }
    }
}

// ProductDetail

.productDetail{
    @include max-767{
        margin-bottom:48px;
    }
    .container{
        @include min-1400{
            padding: 0 125px;
        }
    }
   
    .productImage{
        img{
            margin-bottom:30px;
        }
        .slide-nav{
            position: absolute;
            left: 75px;
            top: 50%;
            transform: translateY(-50%);
            width: calc(100% - 90px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include max-767{
                left: 45px;
            }
            span{
                margin:0;
            }
        }

        .slick-dots{
            @include min-992{
                position: relative;
                display: flex;
                flex-direction: column;
                order: 1;
                flex: 0 0 30px;
                margin-right:30px;
            }
        }
        .productWishlistBtn {
            width: 67px;
            height: 67px;
            background-color: $white;
            border-radius: 50%;
            position: absolute;
            top: 24px;
            right: 40px;
            padding: 0;
            margin: 0;
            outline: 0;
            border: 0;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        .productImageContent {
            padding: 10px 0 50px;
            h6 {
                margin: 0 0 5px;
            }
            .table {
                th, td {
                    font-size: 0.9375rem;
                    vertical-align: middle;
                    border-bottom-color: $border2;
                    padding: 25px 10px;
                }
                tbody {
                    tr {
                        &:hover {
                            background-color: $grayLight;
                            td {
                                span {
                                    color:$green;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .contentWrap{
        @include min-992 {
            max-width: 675px;
            padding-left:35px;
            border-left: 1px solid #DDDDDD;
        }
        >div{
            padding:14px 0;
            @include min-768{
                padding:24px 0;
            }
            // border-bottom: 1px solid #E6E6E6;
            // margin-bottom:24px;
            // @include min-992 {
            //     margin-bottom:48px;
            // }
            a{
                // color:$blue;
                font-size: 0.938em;
                font-family:$roboto;
            }
        }

        .input-style {
            position: relative;
            input {
                width: 100%;
                border:0;
                border-bottom: 1px solid $border2;
                padding: 15px 70px 15px 0px;
                color: $blackLight;
                font-family: $primaryFont;
                // box-shadow: inset 0px 4px 20px rgba($black, 0.05);
                font-size: 0.9375rem;
                line-height: 1.125rem;
            }
            button {
                padding: 0;
                margin: 0;
                border: 0;
                outline: 0;
                cursor: pointer;
                background-color: transparent;
                color: $green;
                font-size: 0.9375rem;
                font-weight: bold;
                font-family: $primaryFont;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                right: 24px;
                &:focus {
                    outline: 0;
                }
            }
        }

        p{
            font-size: 0.938em;
            margin-bottom:0;
        }

        h6{
            font-weight: bold;
            // margin-bottom:20px;
            @include min-768{
                line-height: 25px;
                font-size:1.313em;

            }
        }

        .productInfo {
            // max-width:462px;
            position: relative;
            .shareProduct {
                position: absolute;
                top: 0;
                right: 0;
                .shareProductBtn {
                    padding: 0;
                    margin: 0;
                    background-color: transparent;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    .shareProductBtnCross {
                        display: none;
                    }
                    &.active {
                        .shareProductBtnCross {
                            display: block;
                        }
                        .shareProductBtnShare {
                            display: none;
                        }
                    }
                }
                .shareProductIcons {
                    width: 100%;
                    text-align: center;
                    display: none;
                    &.active {
                        display: block;
                    }
                    a {
                        width: 100%;
                        display: block;
                        margin: 15px 0 0 0;
                        padding: 0;
                        line-height: 100%;
                    }
                }
            }
            a.custom {
                color: $green;
            }
            .heading {
                font-weight: bold;
                a.custom {
                    margin-left:24px;
                    font-weight:normal;
                }
            }

            // h3{
            //     line-height: 43px;
            //     margin-bottom:5px;
            // }

            .subhead{
                font-size: 0.9375rem;
                line-height: 25px;
            }

            .custom {
                color:$blue;
                font-size: 15px;
                line-height: 18px;
                font-family:$roboto;
                margin:10px 0;
            }

            .content{
                p{
                    font-size: 0.938em;
                    line-height: 18px;
                    color: #727272;
                }
                .more{
                    font-weight: bold;
                    color:$primaryColor;
                    display:block;
                    margin-top:10px;
                }
            }
        }

        .priceWrap{
            color:#000;
            .price {
            & > :first-child{
                margin-right:24px;
            }
                h4 {
                    font-family:$primaryFont;
                    font-weight:normal;
                    @include max-991 {
                        font-size: 2.25rem;
                    }
                }
                .oldPrice {
                    position: relative;
                    margin-right:15px;
                    color: #727272;
                    text-decoration-line: line-through;
                    &:after {
                        // content: "";
                        content: none;
                        position: absolute;
                        top:50%;
                        transform:translateY(-50%);
                        left: 0;
                        right: 0;
                        bottom: 2px;
                        height: 1px;
                        background-color: $gray;
                    }
                }
                .actual{
                    // color: $orange;
                    font-weight: bold;
                    // font-size: 36px;
                    // line-height: 43px;
                    // margin-left:24px;
                }
                .off{
                    font-weight: bold;
                    @include max-767{
                        font-size:1.5rem;
                        margin-top:5px;
                    }
                }
            }

            p{
                margin-top:10px;
            }
        }

        

        .colorWrap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            border-bottom: 1px solid $border2;
            padding-bottom: 20px;
            position:relative;
            // margin-bottom: 35px;
            h6 {
                margin: 4px 24px 0 0;
            }
            .colorWrapColors {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding-top:10px;
                @include min-768{
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    width: -webkit-calc(100% - 148px);
                    width: calc(100% - 148px);
                    padding:0;
                }
                .colorWrapMore {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    width: 100%;
                }
                span {
                    width: 26px;
                    height: 26px;
                    border-radius:50%;
                    cursor:pointer;
                    border: 2px solid transparent;
                    margin: 5px 0;
                    &:not(:last-child){
                        margin-right:14px;
                    }
                    &.active {
                        border-color: $blackLight;
                        cursor: default;
                    }
                    &.colorWrapColorBorder {
                        border: 1px solid $gray;
                    }
                }

            }

            button{
                @include max-767{
                    position:absolute;
                    top:15px;
                    right:0px;
                }
            }
        }

        .btnWrap {
            // margin-bottom:45px;
            @include max-575 {
                margin-left: -25px;
                margin-right: -25px;
                width: -webkit-calc(100% + 50px);
                width: calc(100% + 50px);
                -webkit-box-pack: justify !important;
                -ms-flex-pack: justify !important;
                justify-content: space-between !important;
            }
            .wishlist{
                background:transparent;
                margin-right:24px;
            }
            .btn {
                font-size:1.313em;
                @include max-991 {
                    border-radius: 0;
                }
                @include max-575 {
                    width: -webkit-calc(50% - 5px);
                    width: calc(50% - 5px);
                    margin-right: 0 !important;
                    text-align: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }
                svg {
                    margin-right: 20px;
                    @include max-991 {
                        // display: none;
                    }
                }
            }

            .btn-primary{
                color:#fff;
                margin-right:25px;
            }

            .btn-outline-dark{
                color:$primaryColor;
            }
        }

        .selectQuantity {
            // border-bottom: 1px solid $border2;
            padding-bottom: 24px;
            h6 {
                margin: 0;
            }
            .quantityMore {
                margin: 24px 0 0;
                border: 1px solid $border2;
                border-radius: 0px 0px 10px 10px;
                padding: 25px 30px 0;
                h6 {
                    font-size: 1.125rem;
                }
                .table {
                    margin: 0;
                    .checkBoxCustom {
                    }
                    input {
                        width: 60px;
                        border: 1px solid $border;
                        padding: 10px;
                        border-radius: 5px;
                        color: $blackLight;
                        text-align: center;
                        font-family: $primaryFont;
                    }
                    th, td {
                        font-size: 0.9375rem;
                        vertical-align: middle;
                        border-bottom-color: $border2;
                        &:nth-child(1) {
                            width: 25%;
                        }
                        &:nth-child(2) {
                            width: 35%;
                        }
                        &:nth-child(3) {
                            width: 35%;
                        }
                        &:nth-child(4) {
                            width: 60px;
                            text-align: center;
                        }
                    }
                    td {
                        padding: 15px 0;
                    }
                    thead {
                        tr {
                            td {
                                padding: 25px 0;
                            }
                        }
                    }
                }
            }
        }





        .delivery {
            padding-bottom: 24px;
            border-bottom: 1px solid $border2;
            .deliveryTop {
                svg {
                    margin-left: 15px;
                    margin-top: 2px;
                    display: inline-block;
                    vertical-align: middle;
                }
                strong {
                    color:$primaryColor;
                    font-size:1.125em;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .deliveryText {
                font-size: 0.8125rem;
                line-height: 1rem;
                color: $blackLight;
                margin-top:15px;
                p {
                    font-size: 0.8125rem;
                    line-height: 1rem;
                    color: $gray;
                }
                a {
                    font-size: 0.8125rem;
                    line-height: 1rem;
                    color: $green;
                }
                &>div {
                    span {
                        margin-right: 10px;
                    }
                }
            }
        }

        .productDetailInfo {
            .productDetailInfoTop {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                h6 {
                    margin: 0;
                }
            }
            .productDetailMore {
                padding: 24px 0 0;
            }
            h6 {
                margin: 0 0 15px;
            }
            p,ul{
                margin-bottom:25px;
                color: #727272;
            }
        }

        .imageWrap{
            padding-bottom:25px;
            margin-bottom:25px;
            border-bottom: 1px solid #DCDCDC;
        }

        .productCode{
            font-size:1.125em;
        }



    }

}


.productDetailImgSlider {
    display:flex;
    align-items: center;
    > div{
        order:2;
    }
    img {
        width: 100%;
        margin: 0 !important;
    }
    .slick-dots{
        bottom: 25px;

        li{
            button{
                padding:0;
                &:before{
                    background:#fff;
                    @include min-992{
                        background:#DDDDDD;
                    }
                    color:#DDDDDD;
                    border-radius:50%;
                    // height:13px;
                    // width:13px;
            }
            }
        &.slick-active{
            button{
            &:before{
                color:#FF7255;
                background:#FF7255;
                opacity:1;
               
            }
            }
        }
        &:not(:last-child){
            margin-bottom:23px;;
        }
        }
    }
}
.productImgSliderNav {
    height: 100%;
    padding-left:60px;
    .slick-list  {
        height: 100% !important;
        width: 100% !important;
        padding: 0 !important;
        .slick-track {
            // width: 100% !important;
            // height: 100% !important;
            transform: translate3d(0px, 0px, 0px) !important;
            
            .slick-slide{
                
                .productImgSliderNavItem{
                    border:1px solid #A8A8A8;
                }
                &.slick-current{
                    .productImgSliderNavItem{
                        border:1px solid #00263E;
                    }
                }
                &:not(:last-child){
                    margin-right:25px;
                }
            }

        }

    }
    .productImgSliderNavItem {
        width: 100px;
        border-radius: 10px;
        overflow: hidden;
        // margin-bottom: 24px;
        // height: 150px;
        // padding-right:25px;
        // @include min-992 {
        //     height: 60px;
        // }
        // @include min-1200 {
        //     height: 120px;
        // }
        // @include min-1400 {
        //     height: 150px;
        // }
        cursor: pointer;
        img {
            width:100%;
            max-width: 100%;
            height: 100%;
            margin: 0;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
    }
}

.slick-slide  {
    outline: 0;
    height:unset;
}


.btnDropCollapse {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    height: 30px;
    &:focus {
        outline: 0;
    }
    &.collapsed {
    }
}

.quantityWrap {
    max-width: 70px;
    position: relative;
    margin-left:40px;

    input {
        background: $white;
        border: 0;
        // border: 1px solid #DBDBDB;
        // border-radius: 100px;
        width: 100%;
        // padding: 10px 40px;
        padding: 10px 17px;
        text-align: center;
        min-width: 70px;
    }

    .button {
        width: 17px;
        height: 17px;
        background: $white;
        border: 1px solid $border3;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        &.ince{
            // left: 13px;
            right: 0;
        }

        &.decr{
            // right: 13px;
            left: 0;
        }

    img{
        width: 10px;
    }

    }

}

.sizeWrap{
    h6{
        margin-bottom:0 !important;
    }
    .sizes{
        margin:10px 0;
        @include min-768{
            margin:0 15px;
        }
        span{
            border: 1px solid #151515;
            box-sizing: border-box;
            border-radius: 5px;
            // padding:12px 24px;
            width:55px;
            flex:0 0 55px;
            height:40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8125rem;
            cursor:pointer;
            @include max-767{
                margin:5px;
            }
        &:not(:last-child){
            @include min-992{
                margin-right:15px;
            }
        }
        }
    }
}

.custom-design{
    font-size:1.125rem;
    color:$primaryColor;
    border-bottom: 1px solid #E6E6E6;

    .nav-pills{
        background: #F2F2F2;
        margin-top:24px;
        margin-bottom:14px;
        @include max-767{
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow-x: auto;
        }
        li{
            flex:1;
            text-align:center;
            @include max-767{
                flex: 0 0 60%;
            }
            a{
                font-weight:bold;
                padding:20px 10px;
            &.active{
                background:$btnBlue;
                color:#fff;
            }
            }
        }
    }

    .searchWrap{
        svg{
            position:absolute;
            top:50%;
            left:25px;
            transform:translateY(-50%);
        }
        
        input{
            padding:23px 58px;
            width:100%;
            background: #F2F2F2;
            border-radius: 5px;
            border:0;
        &::placeholder{
            color:#A8A8A8;
        }
        }
    }

    .all-design{
        margin-top:24px;
        max-width:100%;
        display:grid;
        grid-template-columns: 30.8% 30.8% 30.8%;
        row-gap:7%;
        column-gap:3.5%;
        max-height:350px;
        overflow-y:auto;

        .design-box{
            border: 1px solid #A8A8A8;
            box-sizing: border-box;
            border-radius: 10px;
            display:flex;
            align-items:center;
            justify-content: center;
            padding:15px;
        }
    }

    .searchWrap{
        .suggestion{
            position:absolute;
            width:100%;
            top:75px;
            background: #FFFFFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            
            .suggestion-wrap{
                max-height:500px;
                &>*{
                    flex:0 0 50%;
                }
            }

            .list-item{
                padding:57px 0;
                flex-grow: 1;
                overflow-y: auto;
                ul{
                    border-right:1px solid #DBDBDB;
                    padding:0 65px;
                    margin:0;
                    line-height: 2.3;
                    a{
                    &:hover{
                        color:$btnBlue;
                        font-weight:bold;
                    }
                    }
                }
            }

            .item-thumb{
                padding:10px 18px 0 40px;
                flex-grow: 1;
                overflow-y: auto;
                
                img{
                    margin-bottom:12px;
                    &:not(:last-child){
                    }
                }
            }
        }
    }
}

.add-text{
    max-height:350px;
    overflow-y:auto;
    &> *{
        &:last-child{
            margin-bottom:0;
        }
    }
}