/* Error: Undefined mixin.
 *    ,
 * 4  | /     @include min-992 {
 * 5  | |         &:after{
 * 6  | |             content: "";
 * 7  | |             position: absolute;
 * 8  | |             right: 0;
 * 9  | |             top: 0;
 * 10 | |             bottom: 0;
 * 11 | |             z-index:-1;
 * 12 | |             width: 30%;
 * 13 | |             background:$grayLight4;
 * 14 | |         }
 * 15 | \     }
 *    '
 *   scss\cart.scss 4:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 4  \2502  \250c      @include min-992 {\a 5  \2502  \2502          &:after{\a 6  \2502  \2502              content: "";\a 7  \2502  \2502              position: absolute;\a 8  \2502  \2502              right: 0;\a 9  \2502  \2502              top: 0;\a 10 \2502  \2502              bottom: 0;\a 11 \2502  \2502              z-index:-1;\a 12 \2502  \2502              width: 30%;\a 13 \2502  \2502              background:$grayLight4;\a 14 \2502  \2502          }\a 15 \2502  \2514      }\a    \2575 \a   scss\\cart.scss 4:5  root stylesheet';
}
