<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="forms_registration_add_custom_option" instance="Forms\Registration\Observer\AddCustomOption" />
    </event>
    <event name="checkout_cart_product_add_after">
    		<observer name="set_custom_price_after_add_to_cart" instance="Forms\Registration\Observer\CustomPrice" />
    </event>
</config>