
.cartSection {
    position: relative;
    @include min-992 {
        &:after{
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index:-1;
            width: 30%;
            background:$grayLight4;
        }
    }
    .topHead {
        padding-top: 8px;
    }
    .checkUnCheck {
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

.table{
    margin-top:48px;
    .shortInfo{
        // margin-left:25px;
        img{
            width: 120px;
            height: 93px;
            // object-fit: cover;
            object-fit: contain;
            object-position: center;
        }

        .detail{
            font-size:0.938em;
            padding-left:25px;
            .prodId{
                color: #999999;
                font-weight: bold;
            }

            h6{
                font-weight:bold;
            }

        }
    }

    thead{
        th{
            font-size:1.125em;
            border-top:0;
            border-bottom:1px solid #D8D8DB;
            padding:18px 0;
        }
    }


    td{
        padding:24px 0;
        .btnWrap{
            margin-top:23px;

            a{
                display:flex;
                align-items:center;
                justify-content: center;
            }
        }

        .quantityWrap{
            margin: unset;
        }

        .price{
            font-size:1.125em;
        }
    }
}

.cartDetailWrap{
    height:100%;
    padding-top:40px;
    padding-bottom:40px;
    position:relative;
    @include min-992 {
        padding-left:40px;
        background:$grayLight4;
    }
    .coupen{
        padding-bottom:27px;
        border-bottom:1px solid #A8A8A8;
        background-color: transparent;
        .coupenWrap{
            position:relative;
            padding-top:24px;
            .inputWrap {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
            input {
                border-radius: 10px;
                padding:13px 120px 13px 40px;
                width:100%;
                font-size:1.125em;
                background-color: transparent;
                line-height: 100%;
                border: 1px solid rgba(168, 168, 168, 0.48);
            }
            svg {
                position:absolute;
                top:50%;
                left:10px;
                -webkit-transform:translateY(-50%);
                transform:translateY(-50%);
            }
    
            span {
                position:absolute;
                top:50%;
                right:10px;
                -webkit-transform:translateY(-50%);
                transform:translateY(-50%);
                font-size:1.125em;
                line-height: 100%;
                font-weight:bold;
                color:$blue;
                &[disabled] {
                    color: $border;
                    cursor: not-allowed;
                    pointer-events: none;   
                  }
            }
            .btn-outline-primary {
                padding:15px 10px;
                font-weight:bold;
                font-size:1.125em;
                line-height: 100%;
                border-radius: 10px;
                margin-left:20px;
                color: $primaryColor;
                border-color: $primaryColor;
                cursor: pointer;
                &:hover {
                    background-color: $primaryColor;
                    color: $white;
                }
            }
        }
    }


    .summary{
        margin-top:34px;
        h6 {
            font-size: 1.3125rem;
            margin-bottom: 10px;
        }
        ul{
            margin-bottom: 50px;
            li {
                padding:16px 0;
                font-size: 1.125rem;
                line-height: 100%;
                font-weight: 400;
                display:-webkit-box;
                display:-ms-flexbox;
                display:flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                &:not(:last-child){
                    border-bottom:1px solid $grayLight3;
                }
            }
        }

        button {
            font-size:1.313em;
        }
    }
}


.customCheck.roundCheck{
    font-size:1.125em;
    margin-top:24px;

    label{
        span{
            color:$blue;
        }
    }

    .form-group label:before{
        border-radius:50%;
        background: #dddddd;
        border:0;
    }

    .form-group input:checked + label:before{
        background:$blue;
    }

    .form-group input:checked + label:after{
        content: "";
        display: block;
        position: absolute;
        top: 6px;
        left: 10px;
        width: 9px;
        height: 18px;
        border: solid #fff;
        border-width: 0 4px 4px 0;
        transform: rotate(45deg);
        background: transparent;
    }
    
}

.cartLikeProducts {
    padding: 40px 0 100px;
    .cartLikeProductsItem {
        padding-top: 24px;
        .cartLikeProductsItemImg {
            img {
                width: 100%;
                display: block;
            }
        }
        .cartLikeProductsItemText {
            padding: 24px 0 0;
            h6 {
                margin-bottom: 10px;
            }
            p {
                font-size: 0.9375rem;
                line-height: 1.2em;
                margin-bottom: 10px;
            }
            .cartLikeProductsItemPrice {
                font-size: 0.9375rem;
                line-height: 1.2em;
            }
        }
    }
}

.viewCoupons {
    .viewCouponsTop {
        margin-bottom: 48px;
        h6 {
            padding-bottom: 24px;
            border-bottom: 1px solid $border2;
        }
        .viewCouponsApply {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 24px 0;
            border-bottom: 1px solid $border2;
            .flex1 {
                position: relative;
                input {
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid $border2;
                    padding: 13px 8px;
                    text-align: right;
                    border-radius: 10px;
                    font-size: 1.125rem;
                    line-height: 100%;
                }
                svg {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
            .viewCouponsApplyAction {
                padding: 0 75px 0 25px;
                button {
                    font-size: 1.125rem;
                    line-height: 100&;
                    padding: 0;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    background-color: transparent;
                    font-weight: bold;
                    color: $primaryColor;
                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }
    .viewCouponsList {
        margin-bottom: 48px;
        .viewCouponsListItem {
            padding: 0 0 0 50px;
            position: relative;
            .checkUnCheck {
                position: absolute;
                left: 0;
                top: 15px;
                width: 25px;
                height: 25px;
            }
            .viewCouponsListItemCode {
                font-size: 1.3125rem;
                line-height: 1.5625rem;
                font-weight: bold;
                color: $blue;
                padding: 15px;
                border-radius: 5px;
                border: 2px solid $blue;
                display: inline-block;
                margin-bottom: 24px;
                cursor: pointer;
            }
            .viewCouponsListItemText {
                h6 {
                    margin-bottom: 15px;
                }
                p {
                    font-size: 1.125rem;
                    line-height: 1.2em;
                    max-width: 320px;
                    margin: 0;
                }
            }
            &:not(:last-child) {
                .viewCouponsListItemText {
                    border-bottom: 1px solid $border2;
                    padding-bottom: 15px;
                    margin-bottom: 24px;
                }
            }
           
        }
    }
    .btn {
        margin-left: 50px;
        svg {
            margin-left: 20px;
        }
    }
}